body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}
nav{
  background-color: black;
}
.panel-heading{
  background-color: black;
}
button{
  background-color: black;
}
.panel-primary>.panel-heading{
    background-color: black !important;
}
.a{
  background-color: black !important;
}